@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Este pequeño ajuste sí te recomiendo dejarlo. 
  Evita que el iPhone cambie el tamaño de letra al girar la pantalla, 
  pero NO afecta el grosor ni el diseño.
*/
html {
  -webkit-text-size-adjust: 100%;
}

@theme {
  /* Aquí definimos que 'Jost Variable' es la prioridad.
     Coincide con el import de @fontsource-variable/jost en tu Layout.
  */
  --font-sans:
    'Jost Variable', 
    'Jost',
    Bricolage Grotesque Variable, 
    Inter Variable, 
    Inter, 
    ui-sans-serif,
    system-ui, 
    sans-serif;
}

/*
  Compatibilidad estándar para bordes en Tailwind v4.
  Esto venía en tu plantilla original.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}